@import "tailwindcss";

.spendwise-main-content {
    background-color: #b79d9d45;
}

.spendwise-transactions-screen {
    font-family: 'Source Sans Pro';
}

input {
    scroll-margin-top: 100px; /* Adjust as needed */
    scroll-behavior: smooth;
}
